/MagiaElCuentroGrupo2/MagiaElEncuentroGrupoDos/build/
nbproject/private
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
MagiaElCuentroGrupo2/MagiaElEncuentroGrupoDos/nbproject/private/
MagiaElCuentroGrupo2/MagiaElEncuentroGrupoDos/nbproject/ant-deploy.xml
