<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Direccionamiento</servlet-name>
        <servlet-class>controlador.Direccionamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenedorCartas</servlet-name>
        <servlet-class>controlador.MantenedorCartas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenedorUsuarios</servlet-name>
        <servlet-class>controlador.MantenedorUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Direccionamiento</servlet-name>
        <url-pattern>/Direccionamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantenedorCartas</servlet-name>
        <url-pattern>/MantenedorCartas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantenedorUsuarios</servlet-name>
        <url-pattern>/MantenedorUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
