
body{
    width: 100%;
    height: 100%;
    background-color: #263238;
    color: white;
    font-family: 1.5em Arial, Helvetica, sans-serif;
    text-align: center;
}

div{
    margin-top: 45px;
    margin-left: 435px;
    border: 1.5px solid #CCC;
    padding: 1em;
    width: 430px;
    position: relative;
}

ingreso{
    color: white;
    font-family: Verdana;
    alignment-adjust: central;
}
